@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #202142;
  line-height: 1.6;
  color: #fff;
}


/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(31,41,55, 0.9);
}
.w-64 {
  width: 16rem;
}

.-mt-12{
  margin-top: -3em;
}

.generalPageTitle{
  font-size: 80px;
  font-family: 'poppins';
  color: goldenrod;
}

@media screen and (max-width: 560px) {
  .generalPageTitle{
    margin-bottom: 1em; 
    line-height: 85px;   
  }
}

.text-gold, 
.gold{
  color: goldenrod;
}
.bg-goldenrod{
  background: goldenrod;
}
